@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Arin demosivu</p>
    <p><a href="/henkilo" class="btn btn-primary btn-lg">Henkilöiden tiedot &raquo;</a></p>
</div>
